.shanmitemenu {
    position: fixed;
    -webkit-user-select: none;
    z-index: 99999;
    right: 30px;
    top: 90%;
}
.shanmitemenu .icon {
    background-position: 0em -8.375em;
    width: 0.425em;
    height: 0.4em;
    vertical-align: middle;
    display: inline-block;
    background-image: url(https://s1.hdslb.com/bfs/seed/bplus-common/icon/2.2.1/bp-svg-icon.svg);
    background-repeat: no-repeat;
    background-size: 1em 23.225em;
    font-size: 80px;
    border: 2px dashed skyblue;
    font-style: italic;
}
.shanmitemenu .show {
    position: relative;
    overflow: hidden;
    padding-left: 0px;
    line-height: 35px;
    transition: 0.3s all 0.1s cubic-bezier(0, 0.53, 0.15, 0.99);
    cursor: pointer;
    color: #178bcf;
}

.shanmitemenu .show:hover {
    padding-left: 130px;
}
.shanmitemenu .box {
    position: absolute;
    right: 45px;
    bottom: 35px;
    background-color: #E5F4FB;
    padding: 5px;
    border-radius: 5px;
    box-shadow: grey 0px 0px 10px 0px;
    width: 550px;
    height: 550px;
}
.shanmitemenu button {
    font-size: 14px;
    padding: 0 5px;
}
.shanmitemenu .changetab {
    display: flex;
    -webkit-user-select: none;
}
.shanmitemenu .changetab div {
    margin: 0 0 0 10px;
    padding: 3px;
    border-radius: 6px;
    border: 2px solid #26c6da;
    font-size: 14px;
    cursor: pointer;
    transition: background-color .3s ease 0s;
    background-color: #87cfeb80;
}
.shanmitemenu .changetab div:hover {
    background-color: skyblue;
}
.shanmitemenu .tab {
    display: none;
    overflow: hidden;
    overflow-y: scroll;
    height: 510px;
    margin: 3px;
}
.shanmitemenu .tab .card {
    font-size: 15px;
    margin: 15px;
    padding: 5px;
    border-radius: 5px;
    background-color: #ffffff ;
    box-shadow: gray 0px 0px 4px 0px;
}
.shanmitemenu .bottom {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.shanmitemenu .bottom button{
    margin-left: 10px;
}